# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# PubNub Configuration
NEXT_PUBLIC_PUBNUB_PUBLISH_KEY=pub-c-796ad0ea-9bff-4bbf-be5e-b269b3fe0325
NEXT_PUBLIC_PUBNUB_SUBSCRIBE_KEY=sub-c-7da9e1d6-9659-4ec5-ab27-d83f2b3d4e7c
# ActionCable Configuration
NEXT_PUBLIC_ACTION_CABLE_URL=ws://localhost:3000/cable
