@import "tailwindcss";

@font-face {
  font-family: "Cift";
  src: url("/fonts/Cift.ttf") format("truetype");
}

@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2 {
  font-family: "Cift", "Playfair Display", serif;
}

body {
  font-family: "Reaktif", "Roboto", sans-serif;
}

.gradient-border,
.hover\:gradient-border:hover,
.focus-visible\:gradient-border:focus-visible {
  background: linear-gradient(
        var(--background-color, black),
        var(--background-color, black)
      )
      padding-box,
    radial-gradient(
        579.34% 1764.15% at 232.75% -112.53%,
        #9747ff 0%,
        #e2ccff 17.94%,
        #c599ff 27.89%,
        #8b33ff 36.68%,
        #e2ccff 46.4%,
        #8b33ff 56.65%,
        #e2ccff 66.39%,
        #9747ff 77.18%,
        #9747ff 88.62%,
        #420099 100%
      )
      border-box;
  border-color: transparent !important;

  transition: border-color 0.2s ease-in-out;
}

.plan-swiper .swiper-pagination-bullet {
  background-color: #d9d9d9;
  opacity: 1;
}

.plan-swiper .swiper-pagination-bullet-active {
  background-color: #9747ff;
  scale: 2;
}
