@import "tailwindcss";

@font-face {
  font-family: "Cift";
  src: url("/fonts/Cift.ttf") format("truetype");
}

@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2 {
  font-family: "Cift", "Playfair Display", serif;
}

body {
  font-family: "Reaktif", "Roboto", sans-serif;
}

.gradient-border,
.hover\:gradient-border:hover,
.focus-visible\:gradient-border:focus-visible {
  background: linear-gradient(
        var(--background-color, black),
        var(--background-color, black)
      )
      padding-box,
    radial-gradient(
        579.34% 1764.15% at 232.75% -112.53%,
        #9747ff 0%,
        #e2ccff 17.94%,
        #c599ff 27.89%,
        #8b33ff 36.68%,
        #e2ccff 46.4%,
        #8b33ff 56.65%,
        #e2ccff 66.39%,
        #9747ff 77.18%,
        #9747ff 88.62%,
        #420099 100%
      )
      border-box;
  border-color: transparent !important;

  transition: border-color 0.2s ease-in-out;
}

.input-gradient-border {
  border-color: #dcd9e0 !important;
}


.diamond-animated-btn {
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 1.5rem;
  background: linear-gradient(
    120deg,
    #d514a2,
    #e426ff,
    #c599ff,
    #d842ce,
    #e2ccff,
    #af0a93,
    #e426ff
  );
  background-size: 400% 400%;
  animation: holographicShift 6s ease-in-out infinite;
  color: white;
}
@keyframes holographicShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Remove mobile bg on larger screens */
@media (min-width: 768px) {
  .diamond-animated-btn-none {
    background: none !important;
    animation: none !important;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-button {
  background: linear-gradient(
    110deg,
    #af15fc 0%,
    #cd2df7 15%,
    #d27cfb 25%,
    #ad24ff 35%,
    #ad24ff 45%,
    #d27cfb 55%,
    #af15fc 65%,
    #cd2df7 75%,
    #d27cfb 85%,
    #ad24ff 100%
  );
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;
}


.rotating-border-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  border: 4px solid transparent;
  animation: gradientBorder 3s linear infinite;
  background:
    linear-gradient(to right, #330457, #1e0333) content-box,
    conic-gradient(
      from var(--angle),
      #570b92 0deg,
      #f36fff 53.3deg,
      #268aff 90.46deg,
      #52eaea 126.24deg,
      #120020 178.82deg,
      #4a0281 360deg
    ) border-box;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes gradientBorder {
  from { --angle: 0turn; }
  to { --angle: 1turn; }
}

.plan-swiper .swiper-pagination-bullet {
  background-color: #d9d9d9;
  opacity: 1;
}

.plan-swiper .swiper-pagination-bullet-active {
  background-color: #9747ff;
  scale: 2;
}
