@import "tailwindcss";

@font-face {
  font-family: "Cift";
  src: url("/fonts/Cift.ttf") format("truetype");
}

@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reaktif";
  src: url("/fonts/Reaktif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2 {
  font-family: "Cift", "Playfair Display", serif;
}

body {
  font-family: "Reaktif", "Roboto", sans-serif;
}
